*:focus {
	outline: none;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito', Sans-Serrif;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #888; 
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}

.no-a{
	text-decoration: none;
}

.section-title i{
	display: block;
	color: #555;
	font-size: 40px;
	text-align: center;
}

.section-title h1{
	color: #555;
	font-size: 20px;
	text-transform: uppercase;
	margin: 10px;
	text-align: center;
}

.title{
	display: block;
	width: 100%;
}

.inner-title{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap-reverse;
	padding-top: 40px;
	padding-bottom: 40px;
}

.title-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
}

.title-text h1{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.1;
	width: 400px;
}

.title-text h2{
	margin-top: 20px;
	color: #666;
	width: 400px;
}

.title-img{
	width: 500px;
}

.about-me{
	display: block;
	width: 100%;
}

.inner-about-me{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.home-list{
	display: block;
	width: 100%;
	padding-bottom: 20px;
}

.inner-home-list{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	padding-bottom: 15px;
}

.home-list-item{
	width: 100%;
	display: flex;
	border-radius: 20px;
	transition: 0.3s;
}

.inner-home-list:nth-child(1) .home-list-item{
	background: linear-gradient(to top left, #c62828 0%, #ef9a9a 100%);
}

.inner-home-list:nth-child(1) i{
	background-color: white;
	padding: 20px;
	color: #fb0;
	font-size: 40px;
	border-radius: 50%;
	margin: 20px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-home-list:nth-child(2) .home-list-item{
	background: linear-gradient(to top left, #003366 0%, #00ccff 100%);
}

.inner-home-list:nth-child(2) i{
	background-color: white;
	padding: 20px;
	color: #f77;
	font-size: 40px;
	border-radius: 50%;
	margin: 20px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-home-list:nth-child(3) .home-list-item{
	background: linear-gradient(to bottom right, #99cc00 0%, #006600 100%);
}

.inner-home-list:nth-child(3) i{
	background-color: white;
	padding: 20px;
	color: #85e;
	font-size: 40px;
	border-radius: 50%;
	margin: 20px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-list-item-right{
	color: white;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-list-item:hover{
	transform: scale(1.025)
}

/* interests.html */

.interests-title{
	background: linear-gradient(to top left, #c62828 0%, #ef9a9a 100%);
	height: 300px;
	padding-bottom: 100px;
}

.inner-interests-title{
	height: 100%;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inner-interests-title i{
	background-color: white;
	padding: 20px;
	color: #fb0;
	font-size: 40px;
	border-radius: 50%;
	margin: 30px;
}

.inner-interests-title h1{
	color: white;
	margin: 10px;
}

.interests-list{
	width: 100%;
	display: block;
	margin-top: -100px;
	padding-bottom: 40px;
}

.inner-interests-list{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.interests-item{
	margin: 24px;
	padding: 16px;
	width: 253px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.interests-item img{
	margin: 30px;
}

.interests-item h2{
	text-align: center;
	margin: 10px;
}

.interests-item p{
	margin: 10px;
}

/* summer.html */

.summer-title{
	background: linear-gradient(to bottom right, #99cc00 0%, #006600 100%);
	height: 300px;
}

.inner-summer-title{
	height: 100%;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inner-summer-title i{
	background-color: white;
	padding: 20px;
	color: #85e;
	font-size: 40px;
	border-radius: 50%;
	margin: 10px;
}

.inner-summer-title h1{
	color: white;
	margin: 10px;
}

.camping{
	display: block;
	width: 100%;
}

.inner-camping{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.camping-description{
	display: flex;
	flex-wrap: wrap;
}

.camping-left{
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.camping-left h2{
	font-size: 46px;
	margin-bottom: 20px;
}

.camping-left p{
	font-size: 18px;
}

.camping-right{
	width: 500px;
}

.camping-right img{
	width: 300px;
	margin: 50px 100px 50px 100px;
}

.camping-map-location{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mapouter{
	margin: 25px;
}

.relaxing{
	display: block;
	width: 100%;
	background-color: #eee;
}

.inner-relaxing{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.relaxing-img{
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin: auto;
}

.relaxing-img img{
	width: 80%;
	height: 80%;
}

.inner-relaxing h2{
	font-size: 46px;
	padding-top: 20px;
	text-align: center;
	width: 50%;
	margin: auto;
}

.inner-relaxing p{
	text-align: center;
	padding: 10px;
	font-size: 18px;
	width: 50%;
	margin: auto;
}

.relaxing-list{
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.relaxing-item{
	background-color: white;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.relaxing-item img{
	width: 100px;
	height: 100px;
	margin-left: auto;
}

.boating{
	display: block;
	width: 100%;
}

.inner-boating{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.boating-description{
	display: flex;
	flex-wrap: wrap;
}

.boating-right{
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.boating-right h2{
	font-size: 46px;
	margin-bottom: 20px;
}

.boating-right p{
	font-size: 18px;
}

.boating-left{
	width: 500px;
}

.boating-left img{
	width: 300px;
	margin: 50px 100px 50px 100px;
}

/* likes.html */

.likes-title{
	background: linear-gradient(to top left, #003366 0%, #00ccff 100%);
	height: 300px;
}

.inner-likes-title{
	height: 100%;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inner-likes-title i{
	background-color: white;
	padding: 20px;
	color: #f77;
	font-size: 40px;
	border-radius: 50%;
	margin: 10px;
}

.inner-likes-title h1{
	color: white;
	margin: 10px;
}

.likes-list{
	display: block;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 80px;
}

.inner-likes-list{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.likes-item{
	width: 333px;
}

.likes-item-img{
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin: auto;
}

.likes-item-img img{
	width: 80%;
	height: 80%;
}

.likes-item-text{
	margin: 0px 20px 0px 20px;
}